* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
   background:linear-gradient(-280deg,rgb(252, 189, 189),rgb(246, 246, 169),rgb(146, 94, 103),rgba(213, 124, 213, 0.888))
}
.main{
  border:2px solid black;
  border-radius:3px;
  box-shadow:1px 1px 1px 1px  rgb(183, 183, 183);
  padding:10px;
  height: 300px;
  width: 600px;
  h2{
    text-align: center;
    font-size: 30px;
    font-style: oblique;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-group>label{
    font-size: 25px;
    font-weight: 700;
    margin-block: 9px;
    font-style: italic;
  }
  .form-group>input
  {
    border-width: 2px; 
    /* border-color: black; */
    padding-inline:10px;
    padding-block: 5px;
    border-radius: 3px;
    margin-block:2px;
    width:50%;
    background-color: transparent;
  }
  button{
    width:50%;
    margin: auto;
    position: relative;
    top:14px;
    background-color:transparent;
    border:1px solid black;
border-radius:3px;
padding-block:4px;
color:brown;
font-size: 19px;
font-weight: 900;
background-color: rgb(251, 203, 132);
  }
  button:hover{
    box-shadow: 1px 1px 1px 3px rgb(135, 244, 159);
    cursor:pointer;
  }
  input:hover{
    box-shadow: 1px 1px 1px 3px rgb(244, 135, 168);
  }
}

